/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/***************Landscape Tablets Device********************/

@media (min-width: 778px) {
  .main-nav {
    justify-content: center;
    align-items: center;
    background-color: unset;
    width: auto;
    height: auto;
    position: unset;

    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }

  .main-nav-list {
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .btn-mobile-nav {
    display: none;
  }
}

/***************Tablets Device*******************************/
@media (min-width: 700px) {
  .logos {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
  }

  .logos img {
    width: 100%;
  }

  .logos img:nth-child(1) {
    grid-column: 1;
  }

  .logos img:nth-child(2) {
    grid-column: 2;
  }

  .logos img:nth-child(3) {
    grid-column: 3;
  }

  .logos img:nth-child(4) {
    grid-column: 4;
    grid-row: 1;
  }

  .logos img:last-child {
    grid-column: 5;
  }
}

/***************Mobile Device*************************/
@media (min-width: 400px) and (max-width: 699px) {
  .logos img {
    width: 60%;
  }
}

@media (min-width: 500px) {
  * {
    /* Set to 10px font-size as default */
    font-size: 75%;
  }

  .steps {
    margin-top: 3.2rem;
  }
}

@media (min-width: 594px) {
  .img-item {
    height: 5rem;
    width: 5rem;
  }
}

/*******For devices with mouse********/
@media (hover: hover) {
  .btn-dot:hover {
    cursor: pointer;
    background-color: #e67e22 !important;
    transition: all delay 0.3s ease-in;
  }
}

/* @media (max-width: 778px) {
  .main-nav {
    justify-content: center;
    align-items: center;
    background-color: #fff;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    position: absolute;

    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);

    transition: all ease-in 0.4s;
  }

  .nav--open {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }

  .main-nav-list {
    flex-direction: column;
  }

  .btn-mobile-nav {
    opacity: 1;
    visibility: visible;
  }
} */
